@import url(//db.onlinewebfonts.com/c/6ccd50f2fa41fab271e51a0b49a264ef?family=LenorahJNL);
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Ubuntu+Mono:wght@400;700&display=swap');

body {
  background-color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LenorahJNL";
  color: #f9f608;
}

strong {
  color: #f9f608;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  color: #fff;
}

@media screen and (max-width: 600px) {

  div {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 420px) {

  div {
    font-size: 10px;
  }

}
@media screen and (max-width: 340px) {

  div {
    font-size: 8px;
  }

}

@media screen and (max-width: 276px) {
  div {
    font-size: 7px;
  }
}