@font-face {
  font-family: 'LenorahJNL';
  src: url(./assets/LenorahJNL.ttf);
}

body {
  background-color: #2c2c2c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "LenorahJNL";
  color: #f9f608;
}

strong {
  color: #f9f608;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 2em;
}

p {
  color: #fff;
}

@media screen and (max-width: 600px) {

  div {
    font-size: 1em;
  }
  
}

@media screen and (max-width: 420px) {

  div {
    font-size: 10px;
  }

}
@media screen and (max-width: 340px) {

  div {
    font-size: 8px;
  }

}

@media screen and (max-width: 276px) {
  div {
    font-size: 7px;
  }
}