.widget {
    width: 50%;
    margin: 0 auto;
  }
  
.request input {
    flex: 2;
}

.request button {
    width: 7%;
    cursor: pointer;
}

.brick {
    background-color: #101D42;
    flex: 3;
    color: #fff;
    padding: 10px;
}

.request {
    display: flex;
}

.display-box {
    background-color: #101D42;
    color: #fff;
    display: flex;
    align-items: center;
}

.display-text {
    font-size: 1.5em;
    display: block;
    padding: 10px 30px;
    white-space: pre-wrap;
}

.try-block {
    display: flex;
}

.try-block p {
    padding-right: 1.5em;
    cursor: pointer;
}