.heading {
    width: 50%;
    height: 10%;
    margin: 2em auto;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

@media screen and (max-width: 970px) {
  .heading {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .heading {
      width: 95%;
  }
}

